page-compendium {

    background-image: url('../assets/imgs/families.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    

    ion-content {
        background-color: rgba(6,6,6,0.75) !important;

    }

    ion-icon{
        color: white;
    }

    ion-item{
        border-bottom: 1px solid limegreen !important;
    }

    // .item2{
    //     border-bottom: 1px solid white !important;
    // }

    // .item3{
    //     border-bottom: 1px solid white !important;
    // }

    // .item4{
    //     border-bottom: 1px solid white !important;
    // }

    // // .item5{
    // //     border-bottom: 1px solid white !important;
    // // }

.div{
    margin-left: 15px;
    display: block;
    width: 100%
   

}

.img{
    background: transparent;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
}

.card{
    margin-top: 20px;
    background-color:rgba(79,193,67,0.4);
    border-radius: 5px;
    
}


}
