page-locar {
    background-color: white;
    
    
    .row1{
        background-color: #b2b2b2;
    }
    
    .row2{
        background-color: #f79f1a;
    }
    
    .row3{
        background-color: #4fc143;
    }
    
    .row4{
        background-color: #4ba2be;
    }
    }
    
