page-home {

   

.finance{
    font-size: 25px;
}

.invoice{
font-size: 25px;
}

.local{
    font-size: 25px;
}

.school {
    font-size: 25px;
}

.overdraft{
    font-size: 25px;
}
.sme{
    font-size: 25px;
}

.napel{
    font-size: 25px;
}

.laper{
    font-size: 25px;
}
.locar{
    font-size: 25px;
}
.cusad{
    font-size: 25px;
}

.lajub{
    font-size: 25px;
}

.louni{
    font-size: 25px;
}

}
