page-atm {
.locator{
    margin-top: auto;
}

#map {
    height: 100%;
}

.list{
    height: auto !important;
    width: auto !important;
    background-color: transparent !important; 
}

.imagesize{
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: -70px;
    right: 20px;
 
   
}

}
