<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>LOCATE US</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="getItems($event)"></ion-searchbar>

    <!-- <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div> -->
  <div>
    <ion-segment [(ngModel)]="locator">
      <ion-segment-button value="atm">
        ATM
      </ion-segment-button>
      <ion-segment-button value="branches">
        Branches
      </ion-segment-button>
    </ion-segment>
  </div>

  
  <div [ngSwitch]="locator">
    <ion-list *ngSwitchCase="'atm'">

      <ion-item no-lines *ngFor="let atmlocation of data">
        <ion-avatar item-start>
          <img src="../assets/imgs/logo2.png">
        </ion-avatar>
        <h4>{{atmlocation.EXPERIENCE_CENTER_NAME}}</h4>
        <h2>{{atmlocation.REGION}}</h2>
        <p style="white-space:normal">{{atmlocation.ADDRESSES}}</p>
        <button ion-button clear item-end icon-only (click)=" openPost(atmlocation)">
          <img class="imagesize"  src="../assets/get.png">
                  </button>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'branches'">
      <ion-item no-lines *ngFor="let branch of branches">
        <ion-avatar item-start>
          <img src="../assets/imgs/logo2.png">
        </ion-avatar>
        <h4>{{branch.EXPERIENCE_CENTER_NAME}}</h4>
        <h2>{{branch.REGION}}</h2>
        <p style="white-space:normal">{{branch.ADDRESSES}}</p>
        <button ion-button clear item-end icon-only (click)="openPost(branch)">
          <img class="imagesize"  src="../assets/get.png">
                  </button>
      </ion-item>
    </ion-list>

  </div>

</ion-content>