<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>CURRENT LOCATION</ion-title>
  </ion-navbar>



</ion-header>



<ion-content>



  <div>
    <ion-segment [(ngModel)]="locator">
      <ion-segment-button value="atm">
        ATM
      </ion-segment-button>
      <ion-segment-button value="branches">
        Branches
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- <div #map id="map"></div> -->
  <div [ngSwitch]="locator">
    <ion-list *ngSwitchCase="'atm'">
      <ion-item *ngFor="let atmlocation of data">
        <ion-avatar item-start>
          <img src="../assets/imgs/logo2.png">
        </ion-avatar>
        <h4>{{atmlocation.A}}</h4>
        <h2>{{atmlocation.B}}</h2>
        <p style="white-space:normal">{{atmlocation.C}}</p>
        <button ion-button clear item-end icon-only (click)=" openPost(atmlocation)">
          <img class="imagesize"  src="../assets/guide.png">
                  </button>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'branches'">
      <ion-item *ngFor="let branch of branches">
        <ion-avatar item-start>
          <img src="../assets/imgs/logo2.png">
        </ion-avatar>
        <h4>{{branch.A}}</h4>
        <h2>{{branch.B}}</h2>
        <p style="white-space:normal">{{branch.C}}</p>
        <button ion-button clear item-end icon-only (click)="openPost(branch)">
          <img class="imagesize"  src="../assets/guide.png">
                  </button>
      </ion-item>

    </ion-list>

  </div>

</ion-content>