page-comp-asset {
    background-color: white;

    .accordion-list {
        background: color($colors, light);
        height: 100%;
    }
   

    .description {
        white-space: normal !important;
    }

}
