page-products {

    background-image: url('../assets/imgs/background2.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    

    ion-content {
        background-color: rgba(6,6,6,0.75) !important;

    }

.grid{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

// .row1{
//     margin-bottom: 60px;
// }

.findus{
    margin-top: 50px;
    display: block;
}

.img_findus{
    
  display: block;
  margin: 0 auto;  
  margin-top: 30px;
}



.account{
    
    background-color:rgba(0,72,97,0.4);
    border-radius: 5px;
    padding: 4px;
    height: 150px;
    width: 140px;
    
}

.img_account{
    
    background: transparent;
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 25px;
    
}

.loan{
    background-color: rgba(234,0,27,0.4);
    border-radius: 5px;
    padding: 4px;
    height: 150px;
    width: 140px;
    
}

.img_loan{
    padding: 5px;
    background: transparent;
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 25px;
   
}

.bank{
    background-color: rgba(79,193,67,0.4);
    border-radius: 5px;
    padding: 4px;
    height: 150px;
    width: 140px;
    
}

.img_bank{
    background: transparent;
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 25px;
    
}

.lead{
    background-color: rgba(247,148,29,0.4);
    border-radius: 5px;
    padding: 4px;
    height: 150px;
    width: 140px;
   
    
}

.img_lead{
    background: transparent;
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 25px;
}

.text{
    padding: 13px;
}

.find{
    padding: 2px;
}

}


