page-products {

    background-image: url('../assets/imgs/background2.png') !important;
    background-repeat: no-repeat;
    background-size: cover;

.grid{
    margin-top: 170px;

}

.account{
    background-color: white;
    border-radius: 5px;
    padding: 4px;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.img_account{
    background: #ffffff;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}

.loan{
    background-color: white;
    border-radius: 5px;
    padding: 4px;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.img_loan{
    
    background: #ffffff;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
   
}

.savings{
    background-color: white;
    border-radius: 5px;
    padding: 4px;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.img_savings{
    background: #ffffff;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}

.atm{
    background-color: white;
    border-radius: 5px;
    padding: 4px;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    
}

.img_atm{
    background: #ffffff;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
   
}


}
